[Unit]
Description=OpenVPN Watcher Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/py-proxmox-toolkit
Environment="VIRTUAL_ENV=/opt/py-proxmox-toolkit"
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment=IP=""
Environment=CONNAME=""
ExecStart=/opt/py-proxmox-toolkit/python3 ${VIRTUAL_ENV}/scripts/network/watcher.py -g ${IP} -c "${CONNAME}" -n

[Install]
WantedBy=multi-user.target
