[Unit]
Description=OpenVPN Watcher Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/py-proxmox-toolkit
Environment=IP=""
Environment=CONNAME=""
ExecStart=/opt/py-proxmox-toolkit/python3 main.py scripts/network/vpn_watchdog.py -g ${IP} -c "${CONNAME}" -n

[Install]
WantedBy=multi-user.target
